body {
    padding: 10px; 
}
button {
    padding: 10px;
}
button:hover {
    cursor: pointer;
    background-color: aliceblue;
    color: blue;
}
.add-event > a {
   text-decoration: none;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid black;
}
td > a {
    text-decoration: none;
    color: blue;
}
td > a:hover {
  cursor: pointer;
  color: aqua;
}
th, td {
    padding: 10px;
    text-align: left;
}
.add-form {
    max-width: 800px;
}
.general-info, .home-team, .away-team, .result, .other-info {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.field {
    display: grid;
    grid-template-columns: repeat(2, minmax(180px, auto));
}
.cancel {
    padding: 10px;
    align-self: flex-start;
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    border-radius: 5px;
}
.cancel:hover {
    cursor: pointer;
    background-color: aliceblue;
    color: blue;
}
.btn-group {
    margin-top: 20px;
}
.details-container {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
}

.details-item {
    margin-bottom: 10px;
}

.details-label {
    font-weight: bold;
}